{
  "extends": [
    "react-app",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/sort-prop-types": 2,
    "react/jsx-sort-props": 1,
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": false
    }],
    "no-use-before-define": ["error", { "functions": false }]
  },
  "env": {
    "mocha": true,
    "browser": true
  }
}
